@import 'sanitize.css';
@import "tailwindcss";
@import "./katex-swap.css";
@import "./hljs/light-plus.css";
@import "medium-zoom/dist/style.css";
@import "@shikijs/twoslash/style-rich.css";

:root {
	color-scheme: light !important;
	scroll-behavior: smooth;
	--color-primary: var(--el-color-primary);
	--color-primary-hover: var(--el-color-primary-dark-2);
	--color-heading: #213547;
	--color-text: #333;
	--color-text-light: #666;
	--color-border: #eaeaea;
	--color-bg: #ffffff;
	--color-bg-alt: #f8f8f8;
	--color-code-bg: #f5f5f5;
	--color-tag-bg: #f0f0f0;
	--color-tag: #666;
}

@media (prefers-color-scheme: dark) {
	@import './el/css-vars.css';

	:root {
		color-scheme: dark !important;
		--color-heading: rgba(255, 255, 255, 0.87);
		--color-text: rgba(255, 255, 255, 0.87);
		--color-text-light: rgba(255, 255, 255, 0.6);
		--color-border: #333;
		--color-bg: #1a1a1a;
		--color-bg-alt: #242424;
		--color-code-bg: #1e1e1e;
		--color-tag-bg: #333;
		--color-tag: rgba(255, 255, 255, 0.87);
	}
}

#app {
	background-color: var(--color-bg);
	color: var(--text-color);
	min-height: 100vh;
}

:root {
	--text-color: #444;
	--link-hover-color: #111;
	--blockquote-color: #666;
	/* --color-bg 和 --color-bg-alt 的平均颜色，不支持时 fallback --color-bg */
	--color-bg-alt-alt: var(--color-bg);
	--color-bg-alt-alt: color-mix(in srgb, var(--color-bg) 50%, var(--color-bg-alt) 50%) !important;
	--el-border-color: var(--color-bg-alt-alt) !important;
	--el-input-border-color: var(--color-bg-alt-alt) !important;
	--el-text-color-disabled: var(--color-bg) !important;
	--el-fill-color: var(--color-bg-alt-alt) !important;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #ddd;
		--link-hover-color: #fff;
		--blockquote-color: #bbb;
	}

	@import "./hljs/dark-plus.css";

	.shiki,
	.shiki span {
		color: var(--shiki-dark) !important;
	}
}

.text-primary {
	color: var(--color-primary);
}

.text-primary:hover {
	color: var(--color-primary-hover);
}

.medium-zoom-overlay {
	background: rgba(0, 0, 0, 0.5) !important;
	z-index: 2;
}

.medium-zoom-image--opened {
	z-index: 3;
}

/* mirror text/blockquote colors for manual dark class */
.dark :root {
	--text-color: #ddd;
	--link-hover-color: #fff;
	--blockquote-color: #bbb;
}

.dark * {
	color-scheme: dark;
}

body {
	font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	color: var(--text-color);
}

.mkd :first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

/* 代码样式 */
.twoslash-popup-container {
	background-color: var(--color-code-bg) !important;
	border: 1px solid var(--el-color-primary) !important;
}

.twoslash-popup-container:hover {
	border: 1px solid var(--el-color-primary-dark-2) !important;
}

.twoslash-popup-container {
	background-color: transparent;
}

[class="twoslash-*"] {
	z-index: 1145 !important;
}

pre.shiki .tab,
pre.shiki .space {
	position: relative;
}

pre.shiki .tab::before,
pre.shiki .space::before {
	color: var(--color-text-light);
	opacity: 0.3;
}

pre.shiki .tab::before {
	content: '⇥';
	position: absolute;
}

pre.shiki .space::before {
	content: '·';
	position: absolute;
}

.mkd pre {
	background-color: transparent !important;
	overflow: visible !important;
}

:not(.twoslash-popup-code)>pre>code {
	display: grid;
	font-family: Consolas, 'Courier New', Fira Code, monospace;
	font-size: 14px;
	line-height: 1.5;
	padding: 10px;
	border-radius: 8px;
	overflow-x: auto;
	padding-top: 24px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	background-color: var(--color-code-bg) !important;
	counter-reset: step;
	overflow: visible !important;
}

:not(.twoslash-popup-code)>pre>code>.line::before {
	content: counter(step);
	counter-increment: step;
	width: 2.5em;
	display: inline-block;
	text-align: right;
	color: var(--color-text-light);
	user-select: none;
	position: absolute;
	left: calc(10px + .5em);
	top: 0;
	padding-right: 5px;
	border-right: 1px solid var(--color-text-light);
}

:not(.twoslash-popup-code)>pre>code>.line.diff {
	&.add::after {
		content: '+';
		color: var(--el-color-success) !important;
	}

	&.remove::after {
		content: '- ';
		color: var(--el-color-error) !important;
	}

	&::after {
		display: inline-block;
		user-select: none;
		position: absolute;
		left: 10px;
		top: 0;
	}
}

.mkd .highlighted-word {
	outline: 1px solid var(--el-color-info);
	border-radius: 4px;
}

.mkd .highlighted.error {
	--color-code-bg-alt: var(--el-color-error-light-8) !important;
	--color-code-border: var(--el-color-error) !important;
}

.mkd .highlighted.warning {
	--color-code-bg-alt: var(--el-color-warning-light-8) !important;
	--color-code-border: var(--el-color-warning) !important;
}

.mkd .highlighted {
	--color-code-bg-alt: var(--el-color-primary-light-8);
	--color-code-border: var(--el-color-primary);
	background-color: var(--color-code-bg-alt) !important;
	border-left: 10px solid var(--color-code-border) !important;
	padding-left: calc(5px + 3em) !important;
}

.mkd .highlighted::before {
	left: .5em !important;
}

.mkd .has-focused>.line:not(.focused) {
	transition: opacity .125s, filter .125s, background-color .125s;
}

.mkd .has-focused:not(:has(.line:not(.focused):hover))>.line:not(.focused) {
	opacity: .6;
	filter: blur(2px);
	background-color: transparent !important;

	& * {
		background-color: transparent !important;
	}
}

:not(.twoslash-popup-code)>pre>code>.line {
	position: relative;
	display: block;
	margin: 0 -10px;
	padding: 0 10px 0 calc(15px + 3em);
	min-height: 1.5em;
}

/* copy button placed inside code blocks */
:not(.twoslash-popup-code)>pre {
	position: relative;
	background-color: transparent;
}

:not(.twoslash-popup-code)>pre>code>pre:hover {
	z-index: 1000 !important;
}

.mkd .copy-btn {
	/* keep positioning, but let el-button classes handle appearance */
	position: absolute;
	top: 8px;
	right: 8px;
	transition: opacity 0.3s;
	opacity: 0;
	/* remove custom colors/edges when el-button is applied */
	/* padding: 2px 6px; */
	/* font-size: 1rem; */
}

.mkd pre:hover .copy-btn {
	opacity: 1;
}

.mkd .copy-btn:hover {
	background-color: var(--color-bg-alt-alt);
}

.btn-copy-md {
	background-color: var(--color-bg-alt);
	border: 1px solid var(--color-border);
	border-radius: 3px;
	cursor: pointer;
}

.btn-copy-md:hover {
	background-color: var(--color-bg-alt-alt);
}

:not(.twoslash-popup-code)>pre>code::before {
	background: #fc625d;
	box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	content: ' ';
	height: 12px;
	width: 12px;
}

:not(.twoslash-popup-code)>pre>code::after {
	position: absolute;
	top: 10px;
	height: 12px;
	left: 72px;
	content: counter(step) '行';
	line-height: 12px;
	font-size: 12px;
	color: var(--el-color-primary);
}

:not(.twoslash-popup-code)>pre>code[code-language]:not([code-language=""])::after {
	content: attr(code-language) '·' counter(step) '行';
}

.twoslash-hover>.twoslash-popup-container {
	display: none;
}

.twoslash-hover:hover>.twoslash-popup-container {
	display: flex;
}

.twoslash-error-hover>.twoslash-popup-container {
	display: none;
}

.twoslash-error-hover:hover>.twoslash-popup-container {
	display: flex;
}

.twoslash-popup-container {
	--x: 0;
	--x1: 100vw;
	left: var(--x);
	--top: 0px;
	top: var(--top);
	position: fixed !important;
	white-space: pre;
	max-width: calc(100vw - var(--x) - var(--spacing) * 8);
	/* box-sizing: border-box; */
	overflow-x: auto;
	height: auto;
}

:not(.twoslash-popup-code)>pre>code>.line {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

/* markdown 渲染样式 */
.mkd h1,
.mkd h2,
.mkd h3,
.mkd h4,
.mkd h5,
.mkd h6 {
	font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	font-weight: bold;
	line-height: 1.5;
	margin: 30px 0 15px;
	scroll-margin-top: calc(var(--spacing) * 12 + 1.25rem);
}

.mkd h1 {
	font-size: 1.5em;
}

.mkd h2 {
	font-size: 1.375em;
}

.mkd h3 {
	font-size: 1.25em;
}

.mkd h4 {
	font-size: 1.125em;
}

.mkd h5 {
	font-size: 1em;
}

.mkd h6 {
	font-size: 0.875em;
}

.mkd h1,
.mkd h2 {
	border-bottom: 1px solid #eee;
}

.mkd h3 {
	border-bottom: 1px dotted #eee;
}

.mkd p {
	line-height: 2;
	font-size: 1rem;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

.mkd img {
	display: inline;
}

.mkd a,
.tag a,
.href {
	text-decoration: none;
	border-bottom: 1px solid #999;
}

.mkd a:has(> img:only-child):not(:has(*:not(img))) {
	border-bottom: none !important;
}

.mkd a:hover,
.tag a:hover,
.href:hover {
	color: var(--link-hover-color);
	border-bottom: 1px solid var(--link-hover-color);
}

/* header-anchor 的动画 */
.header-anchor {
	opacity: 0;
	text-decoration: none !important;
	transition: opacity 0.2s, margin-left 0.2s;
	padding-bottom: 0;
}

.mkd h1:hover .header-anchor,
.mkd h2:hover .header-anchor,
.mkd h3:hover .header-anchor,
.mkd h4:hover .header-anchor,
.mkd h5:hover .header-anchor,
.mkd h6:hover .header-anchor {
	margin-left: 0.5rem;
	opacity: 1;
}

blockquote {
	border-left: 4px solid #d1d5db;
	padding-left: 1rem;
	color: var(--blockquote-color);
	margin-bottom: 0.5rem;
}

.mkd ul,
.mkd ol {
	margin-left: 1.5rem;
	margin-bottom: 0.5rem;
}

/* 多层嵌套列表改变风格 */
.mkd ul {
	list-style: disc;
}

.mkd ul ul {
	list-style-type: circle;
}

.mkd ul ul ul {
	list-style-type: square;
}

.mkd ol {
	list-style: decimal;
}

.mkd ol ol {
	list-style-type: lower-alpha;
}

.mkd ol ol ol {
	list-style-type: lower-roman;
}

table *,
table {
	--table-border-radius: 8px;
	--table-border: var(--color-border) 1px solid;
}

table td,
th {
	padding: .125em .5em;
	border: var(--table-border);
	border-left: none;
}

table td {
	border-top: none;
}

table tr>:first-child {
	border-left: var(--table-border);
}

table {
	border-spacing: 0px;
	width: 100%;
	border-collapse: separate;
	margin-bottom: 1rem;
	background: var(--color-code-bg);
	border-radius: var(--table-border-radius);
}

table>:last-child>:last-child>:last-child {
	border-bottom-right-radius: var(--table-border-radius);
}

table>:last-child>:last-child>:first-child {
	border-bottom-left-radius: var(--table-border-radius);
}

table>:first-child>:first-child>:first-child {
	border-top-left-radius: var(--table-border-radius);
}

table>:first-child>:first-child>:last-child {
	border-top-right-radius: var(--table-border-radius);
}

header {
	background-color: var(--color-bg-alt);
}

.component {
	background-color: var(--color-bg-alt);
	border-radius: var(--radius-lg);
	box-shadow: var(--shadow-sm);
	padding: calc(var(--spacing) * 6);

	&:hover {
		@media (hover: hover) {
			box-shadow: var(--shadow-lg);
		}
	}
}

.tag {
	background-color: var(--color-tag-bg);
	color: var(--color-tag);
	padding-inline: calc(var(--spacing) * 2);
	padding-block: var(--spacing);
	border-radius: calc(infinity * 1px);
	font-size: var(--text-xs);
}

/* make element-plus input/button & pagination match site colors */
.el-input .el-input__inner {
	background-color: var(--color-bg-alt-alt) !important;
	color: var(--text-color) !important;
}

.el-input .el-input__inner::placeholder {
	color: var(--color-text-light) !important;
}

.el-button {
	background-color: var(--color-bg) !important;
	color: var(--text-color) !important;
}

/* .el-input-group__append:has(.el-button) {
	border: 1px var(--el-input-border-color, var(--el-border-color)) solid;
	border-left: none;
} */
/* 
.el-input--normal .el-input__inner {
	padding: 0.4em 0.75em;
} */

/* pagination styling for both light and dark */
.el-input__wrapper,
.el-input-group__append {
	background-color: var(--color-bg-alt-alt) !important;
	color: var(--text-color) !important;
}

.btn-next,
.btn-prev {
	background-color: var(--color-bg-alt-alt) !important;
	color: var(--text-color) !important;
}

.el-pagination {
	background-color: transparent !important;
	color: var(--text-color) !important;
}

.el-pagination * {
	color: var(--text-color) !important;
}

.el-pagination .el-pager li a,
.el-pagination .el-pager li span {
	color: var(--text-color) !important;
}

.el-pagination .active a {
	background-color: var(--color-primary) !important;
	color: #fff !important;
}

/* highlight term styling */
mark {
	background-color: #ffe58f;
	color: oklch(44.6% 0.03 256.802);
	padding: 0 0.1em;
}

.metadata {
	align-self: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 2rem;

	& h2 {
		font-size: 1.75em;
		margin-bottom: 0.5rem;
		border-bottom: none;
	}

	& p {
		color: var(--blockquote-color);
		margin-block: 0.25rem;
		font-size: var(--text-sm);
		line-height: 1;
	}
}

.links a {
	margin-right: 0.2rem;
}

nav ul .el-input {
	& .el-input__wrapper {
		width: 0px;
		transition: width 0.3s ease;
		position: relative;
		right: -30px;
	}

	& .el-input-group__append {
		border-radius: var(--el-input-border-radius) !important;
	}
}

nav ul .el-input:hover,
nav ul .el-input:focus,
nav ul .el-input:focus-within {
	& .el-input__wrapper {
		width: 160px;
		position: initial;
	}

	& .el-input-group__append {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	& .el-input-group__append * {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
}

.custom-container {
	position: relative;
	border: 1px solid var(--color-border);
	border-radius: var(--radius-lg);
	margin-block: calc(var(--spacing) * 4);
}

.custom-container>* {
	margin-inline: calc(var(--spacing) * 4);
}

.custom-container[open] {
	padding-bottom: calc(var(--spacing) * 4);
}

.custom-container summary {
	display: block;
	margin-inline: 0;
	padding: calc(var(--spacing) * 4);
}

.custom-container[open] summary {
	border-bottom: 1px solid var(--color-border);
}

.custom-container summary::marker {
	list-style-type: none !important;
	list-style: none;
	display: none;
	content: '';
}

.custom-container summary::after {
	--md-details-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6z"/></svg>');
	background-color: currentcolor;
	content: "";
	height: 1.5em;
	width: 1.5em;
	mask-image: var(--md-details-icon);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	right: calc(var(--spacing) * 4);
	transform: rotate(180deg);
	transition: transform .25s;
}

.custom-container:focus-within,
.custom-container:focus-visible,
.custom-container:focus {
	--color-outline-mix: rgb(from var(--color-outline) r g b / 0.102) !important;
	--color-outline-mix: color-mix(in srgb, var(--color-outline) 10.2%, transparent);
	box-shadow: 0 0 0 .2rem var(--color-outline-mix);
}

.custom-container[open] summary::after {
	transform: rotate(90deg);
}

.custom-container :last-child {
	margin-bottom: 0;
}

.custom-container-info {
	--color-border: var(--el-color-info);
	--color-outline: var(--el-color-info);

	& ::after,
	::before {
		color: var(--el-color-info);
	}
}

.custom-container-details {
	--color-border: var(--el-color-primary);
	--color-outline: var(--el-color-primary);

	& ::after,
	::before {
		color: var(--el-color-primary);
	}
}

.custom-container-success {
	--color-border: var(--el-color-success);
	--color-outline: var(--el-color-success);

	& ::after,
	::before {
		color: var(--el-color-success);
	}
}

.custom-container-warning {
	--color-border: var(--el-color-warning);
	--color-outline: var(--el-color-warning);

	& ::after,
	::before {
		color: var(--el-color-warning);
	}
}

.custom-container-error {
	--color-border: var(--el-color-error);
	--color-outline: var(--el-color-error);

	& ::after,
	::before {
		color: var(--el-color-error);
	}
}

.custom-container-danger {
	--color-border: var(--el-color-danger);
	--color-outline: var(--el-color-danger);

	& ::after,
	::before {
		color: var(--el-danger-error);
	}
}

.reset-color {
	color: var(--text-color) !important;
}

.reset-color * {
	color: var(--text-color) !important;
}

.custom-container pre:has(code) {
	margin-top: calc(var(--spacing) * 4);
}