:root {
	--lightningcss-light: !important;
	--lightningcss-dark: initial !important;
	color-scheme: dark !important;
	--el-color-primary: #409eff !important;
	--el-color-primary-light-3: #3375b9 !important;
	--el-color-primary-light-5: #2a598a !important;
	--el-color-primary-light-7: #213d5b !important;
	--el-color-primary-light-8: #1d3043 !important;
	--el-color-primary-light-9: #18222b !important;
	--el-color-primary-dark-2: #66b1ff !important;
	--el-color-success: #67c23a !important;
	--el-color-success-light-3: #4e8e2f !important;
	--el-color-success-light-5: #3e6b27 !important;
	--el-color-success-light-7: #2d481f !important;
	--el-color-success-light-8: #25371c !important;
	--el-color-success-light-9: #1c2518 !important;
	--el-color-success-dark-2: #85ce61 !important;
	--el-color-warning: #e6a23c !important;
	--el-color-warning-light-3: #a77730 !important;
	--el-color-warning-light-5: #7d5b28 !important;
	--el-color-warning-light-7: #533f20 !important;
	--el-color-warning-light-8: #3e301c !important;
	--el-color-warning-light-9: #292218 !important;
	--el-color-warning-dark-2: #ebb563 !important;
	--el-color-danger: #f56c6c !important;
	--el-color-danger-light-3: #b25252 !important;
	--el-color-danger-light-5: #854040 !important;
	--el-color-danger-light-7: #582e2e !important;
	--el-color-danger-light-8: #412626 !important;
	--el-color-danger-light-9: #2a1d1d !important;
	--el-color-danger-dark-2: #f78989 !important;
	--el-color-error: #f56c6c !important;
	--el-color-error-light-3: #b25252 !important;
	--el-color-error-light-5: #854040 !important;
	--el-color-error-light-7: #582e2e !important;
	--el-color-error-light-8: #412626 !important;
	--el-color-error-light-9: #2a1d1d !important;
	--el-color-error-dark-2: #f78989 !important;
	--el-color-info: #909399 !important;
	--el-color-info-light-3: #6b6d71 !important;
	--el-color-info-light-5: #525457 !important;
	--el-color-info-light-7: #393a3c !important;
	--el-color-info-light-8: #2d2d2f !important;
	--el-color-info-light-9: #202121 !important;
	--el-color-info-dark-2: #a6a9ad !important;
	--el-box-shadow: 0px 12px 32px 4px #0000005c, 0px 8px 20px #000000b8 !important;
	--el-box-shadow-light: 0px 0px 12px #000000b8 !important;
	--el-box-shadow-lighter: 0px 0px 6px #000000b8 !important;
	--el-box-shadow-dark: 0px 16px 48px 16px #000000b8, 0px 12px 32px #000, 0px 8px 16px -8px #000 !important;
	--el-bg-color-page: #0a0a0a !important;
	--el-bg-color: #141414 !important;
	--el-bg-color-overlay: #1d1e1f !important;
	--el-text-color-primary: #e5eaf3 !important;
	--el-text-color-regular: #cfd3dc !important;
	--el-text-color-secondary: #a3a6ad !important;
	--el-text-color-placeholder: #8d9095 !important;
	--el-text-color-disabled: #6c6e72 !important;
	--el-border-color-darker: #636466 !important;
	--el-border-color-dark: #58585b !important;
	--el-border-color: #4c4d4f !important;
	--el-border-color-light: #414243 !important;
	--el-border-color-lighter: #363637 !important;
	--el-border-color-extra-light: #2b2b2c !important;
	--el-fill-color-darker: #424243 !important;
	--el-fill-color-dark: #39393a !important;
	--el-fill-color: #303030 !important;
	--el-fill-color-light: #262727 !important;
	--el-fill-color-lighter: #1d1d1d !important;
	--el-fill-color-extra-light: #191919 !important;
	--el-fill-color-blank: #141414 !important;
	--el-mask-color: #000c !important;
	--el-mask-color-extra-light: #0000004d
}

:root .el-button {
	--el-button-disabled-text-color: #ffffff80
}

:root .el-card {
	--el-card-bg-color: var(--el-bg-color-overlay) !important;
	--el-fill-color-blank: var(--el-card-bg-color)
}

:root .el-empty {
	--el-empty-fill-color-0: var(--el-color-black) !important;
	--el-empty-fill-color-1: #4b4b52 !important;
	--el-empty-fill-color-2: #36383d !important;
	--el-empty-fill-color-3: #1e1e20 !important;
	--el-empty-fill-color-4: #262629 !important;
	--el-empty-fill-color-5: #202124 !important;
	--el-empty-fill-color-6: #212224 !important;
	--el-empty-fill-color-7: #1b1c1f !important;
	--el-empty-fill-color-8: #1c1d1f !important;
	--el-empty-fill-color-9: #18181a
}